@model IEnumerable<TimeTracking.MVC.Models.WorkerActivity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activity.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Worker.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursSpent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Activity.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Worker.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursSpent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkerActivityID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorkerActivityID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkerActivityID })
        </td>
    </tr>
}

</table>
